<!doctype html>
<html><head><title>Cloud Run</title><body>
<style>
body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}
</style>

<h2>FRACTALS</h2>  
<a href="https://storage.googleapis.com/bucket_img_gcp/Fractal1_HIGH.png">High Intensity Fractal 1</a>
<br>
<a href="https://storage.googleapis.com/bucket_img_gcp/Fractal2_HIGH.png">High Intensity Fractal 2</a>
<br>
<a href="https://storage.googleapis.com/bucket_img_gcp/Fractal2_LOW.png">Low Intensity Fractal 2</a>
<br>
<a href="https://storage.googleapis.com/bucket_img_gcp/Fractal3_HIGH.png">High Intensity Fractal 3</a>
<br>
<a href="https://storage.googleapis.com/bucket_img_gcp/Fractal3_LOW.png">Low Intensity Fractal 3</a>
<br>
<a href="https://storage.googleapis.com/bucket_img_gcp/fractal1_LOW.png">Low Intensity Fractal 1</a>
<br>  
  
  
</body></html>
